.git
.env
.env.*
!.env.example
vendor
node_modules
database/*.sqlite
bootstrap/cache/*.php
storage/logs/*
storage/app/private/*
storage/framework/cache/*
storage/framework/testing
storage/framework/sessions/*
storage/framework/views/*
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
